services:
  api:
    build: .
    container_name: pokemon-matchups_api

    env_file:
      - .env

    ports:
      - "8080:8080"

    volumes:
      - .:/app
      - /app/node_modules

    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: pokemon-matchups_db

    restart: always

    env_file:
      - .env

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: