services:

  postgres:
    container_name: pokemon-matchups_db
    image: postgres:16

    env_file:
      - .env.docker
    ports:
      - "55000:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: pokemon-matchups_api
    image: pokemon-matchups_api

    env_file:
      - .env.docker

    ports:
      - "8080:8080"

    depends_on:
      postgres:
        condition: service_healthy

    command: sh -c "npx prisma migrate deploy && npm run start"

volumes:
  postgres_data: